body {
    font-family: 'EB Garamond', serif;
    font-size: 14pt;
   
}

#title {
    font-weight: 700;
}

#navbar {
    margin-left: 25px;
    font-weight: 700;
    font-size: 20pt;
}

#navItems{
    margin-right: 25px;
}